<!-- 
    Q: Why did we create polls/templates/polls/index.html not polls/templates/index.html?

    A: Within the templates directory you have just created, 
    create another directory called polls, and within that create a file called index.html. 
    In other words, your template should be at polls/templates/polls/index.html. 
    Because of how the app_directories template loader works as described above, 
    you can refer to this template within Django simply as polls/index.html.

    Template namespacing
-->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}